table, th, td, thead {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 5px;
}

.amarelo {
	background-color: #ffff00;
}

p {
	text-align: center;
}